In [1]:
import os, sys
import django

BASE_PATH = os.path.dirname(os.getcwd())

sys.path.insert(0, BASE_PATH)

django.setup()

In [17]:
import requests
import pandas as pd

In [55]:
TASK_COUNT = 10
ids = []
for task in range(TASK_COUNT):
    r = requests.post('http://nginx/create/')
    assert r.status_code == 200
    data = r.json()
    ids.append(data['id'])

In [56]:
ids

[26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [64]:
r_list = requests.get('http://nginx/')

In [65]:
df = pd.DataFrame(r_list.json())
df = df[df.id.isin(ids)]

In [66]:
df.sort_values(['start_time'])

,id,status,create_time,start_time,exec_time
28,26,Completed,2019-07-25T11:35:18.262895Z,2019-07-25T11:35:18.639559Z,00:00:02.104226
29,27,Completed,2019-07-25T11:35:18.678429Z,2019-07-25T11:35:18.776780Z,00:00:07.106364
30,28,Completed,2019-07-25T11:35:18.713391Z,2019-07-25T11:35:20.817098Z,00:00:05.133172
32,29,Completed,2019-07-25T11:35:18.811115Z,2019-07-25T11:35:26.007487Z,00:00:08.108207
31,30,Completed,2019-07-25T11:35:18.858539Z,2019-07-25T11:35:26.064988Z,00:00:06.113025
34,31,Completed,2019-07-25T11:35:18.903133Z,2019-07-25T11:35:32.241026Z,00:00:08.106347
33,32,Completed,2019-07-25T11:35:18.942378Z,2019-07-25T11:35:34.185565Z,00:00:05.109245
0,33,Completed,2019-07-25T11:35:18.986345Z,2019-07-25T11:35:39.403851Z,00:00:07.130216
6,34,Completed,2019-07-25T11:35:19.028315Z,2019-07-25T11:35:40.426357Z,00:00:08.134705
4,35,Completed,2019-07-25T11:35:19.067316Z,2019-07-25T11:35:46.601925Z,00:00:00.097286